<footer class="ng-scope">
	<div class="content-area footer-content-area">
		<div class="footer-wrapper">

			<!-- ngIf: show --><div ng-if="show" class="footer-fat container-fluid ng-scope">
				<div class="row">

					<!-- ngRepeat: section in footer.dynamicSection --><div class="footer-sections resp-w tol-7 col-xs-12" ng-repeat="section in footer.dynamicSection">
						<!-- ngIf: section.showTitle --><b style="text-transform: capitalize;" ng-if="section.showTitle" class="ng-binding ng-scope">Popular Shows</b><!-- end ngIf: section.showTitle -->

						<ul>
							<!-- ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.show({&quot;id&quot;:&quot;5983836155001&quot;,&quot;title&quot;:&quot;The-Kapil-Sharma-Show-Season-2&quot;})" ui-sref-opts="{inherit: false}" href="/details/show/5983836155001/The-Kapil-Sharma-Show-Season-2">The Kapil Sharma Show Season 2</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.show({&quot;id&quot;:&quot;5983856053001&quot;,&quot;title&quot;:&quot;Super-Dancer-Chapter-3&quot;})" ui-sref-opts="{inherit: false}" href="/details/show/5983856053001/Super-Dancer-Chapter-3">Super Dancer Chapter 3</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.show({&quot;id&quot;:&quot;4600324971001&quot;,&quot;title&quot;:&quot;Taarak-Mehta-Ka-Ooltah-Chashmah&quot;})" ui-sref-opts="{inherit: false}" href="/details/show/4600324971001/Taarak-Mehta-Ka-Ooltah-Chashmah">Taarak Mehta Ka Oolta Chasma</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.show({&quot;id&quot;:&quot;5971988842001&quot;,&quot;title&quot;:&quot;Patiala-Babes&quot;})" ui-sref-opts="{inherit: false}" href="/details/show/5971988842001/Patiala-Babes">Patiala Babes</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.show({&quot;id&quot;:&quot;4682167166001&quot;,&quot;title&quot;:&quot;Crime-Patrol-Dial-100&quot;})" ui-sref-opts="{inherit: false}" href="/details/show/4682167166001/Crime-Patrol-Dial-100">Crime Patrol Dial 100</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems -->
						</ul>

						<!-- ngIf: (section.seeAll.title.length > 0) && (section.seeAll.isVisible) -->
					</div><!-- end ngRepeat: section in footer.dynamicSection --><div class="footer-sections resp-w tol-7 col-xs-12" ng-repeat="section in footer.dynamicSection">
						<!-- ngIf: section.showTitle --><b style="text-transform: capitalize;" ng-if="section.showTitle" class="ng-binding ng-scope">Web Series</b><!-- end ngIf: section.showTitle -->

						<ul>
							<!-- ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.show({&quot;id&quot;:&quot;5808430586001&quot;,&quot;title&quot;:&quot;Full-Tight&quot;})" ui-sref-opts="{inherit: false}" href="/details/show/5808430586001/Full-Tight">Full Tight</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.show({&quot;id&quot;:&quot;5817374099001&quot;,&quot;title&quot;:&quot;The-Good-Vibes&quot;})" ui-sref-opts="{inherit: false}" href="/details/show/5817374099001/The-Good-Vibes">The Good Vibes</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.show({&quot;id&quot;:&quot;5603920247001&quot;,&quot;title&quot;:&quot;%23LoveBytes-2&quot;})" ui-sref-opts="{inherit: false}" href="/details/show/5603920247001/%2523LoveBytes-2">#LoveBytes 2</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.show({&quot;id&quot;:&quot;5256708271001&quot;,&quot;title&quot;:&quot;Married-Woman-Diaries&quot;})" ui-sref-opts="{inherit: false}" href="/details/show/5256708271001/Married-Woman-Diaries">Married Women Diaries</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.show({&quot;id&quot;:&quot;5448213210001&quot;,&quot;title&quot;:&quot;Maid-in-India&quot;})" ui-sref-opts="{inherit: false}" href="/details/show/5448213210001/Maid-in-India">Maid In India</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems -->
						</ul>

						<!-- ngIf: (section.seeAll.title.length > 0) && (section.seeAll.isVisible) -->
					</div><!-- end ngRepeat: section in footer.dynamicSection --><div class="footer-sections resp-w tol-7 col-xs-12" ng-repeat="section in footer.dynamicSection">
						<!-- ngIf: section.showTitle --><b style="text-transform: capitalize;" ng-if="section.showTitle" class="ng-binding ng-scope">Popular Movies</b><!-- end ngIf: section.showTitle -->

						<ul>
							<!-- ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.listing({&quot;id&quot;:&quot;hollywoood_blockbusters_movies&quot;})" ui-sref-opts="{inherit: false}" href="/listing/hollywoood_blockbusters_movies">Hollywood Movies</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.listing({&quot;id&quot;:&quot;movie_comedy_band&quot;})" ui-sref-opts="{inherit: false}" href="/listing/movie_comedy_band">Comedy Movies</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.listing({&quot;id&quot;:&quot;tamil_movies&quot;})" ui-sref-opts="{inherit: false}" href="/listing/tamil_movies">South Indian Movies</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.listing({&quot;id&quot;:&quot;movie_action_band&quot;})" ui-sref-opts="{inherit: false}" href="/listing/movie_action_band">Action Movies</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.listing({&quot;id&quot;:&quot;fear_zone&quot;})" ui-sref-opts="{inherit: false}" href="/listing/fear_zone">Horror Movies</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems -->
						</ul>

						<!-- ngIf: (section.seeAll.title.length > 0) && (section.seeAll.isVisible) -->
					</div><!-- end ngRepeat: section in footer.dynamicSection --><div class="footer-sections resp-w tol-7 col-xs-12" ng-repeat="section in footer.dynamicSection">
						<!-- ngIf: section.showTitle --><b style="text-transform: capitalize;" ng-if="section.showTitle" class="ng-binding ng-scope">LIVE Sports</b><!-- end ngIf: section.showTitle -->

						<ul>
							<!-- ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.listing({&quot;id&quot;:&quot;all_cricket_sports&quot;})" ui-sref-opts="{inherit: false}" href="/listing/all_cricket_sports">Cricket</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.listing({&quot;id&quot;:&quot;sport_football_all&quot;})" ui-sref-opts="{inherit: false}" href="/listing/sport_football_all">Football</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.show({&quot;id&quot;:&quot;5346301315001&quot;,&quot;title&quot;:&quot;WWE&quot;})" ui-sref-opts="{inherit: false}" href="/details/show/5346301315001/WWE">WWE</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems -->
						</ul>

						<!-- ngIf: (section.seeAll.title.length > 0) && (section.seeAll.isVisible) -->
					</div><!-- end ngRepeat: section in footer.dynamicSection --><div class="footer-sections resp-w tol-7 col-xs-12" ng-repeat="section in footer.dynamicSection">
						<!-- ngIf: section.showTitle --><b style="text-transform: capitalize;" ng-if="section.showTitle" class="ng-binding ng-scope">LIVE Channels</b><!-- end ngIf: section.showTitle -->

						<ul>
							<!-- ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.details({&quot;id&quot;:&quot;4867235330001&quot;,&quot;assetType&quot;:&quot;details&quot;,&quot;title&quot;:&quot;Sony-SET-HD---LIVE-Channel&quot;})" ui-sref-opts="{inherit: false}" href="/details/details/4867235330001/Sony-SET-HD---LIVE-Channel">SET HD LIVE</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.details({&quot;id&quot;:&quot;4867313348001&quot;,&quot;assetType&quot;:&quot;details&quot;,&quot;title&quot;:&quot;Sony-MAX-HD---LIVE-Channel&quot;})" ui-sref-opts="{inherit: false}" href="/details/details/4867313348001/Sony-MAX-HD---LIVE-Channel">SET MAX HD LIVE</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.details({&quot;id&quot;:&quot;4867316278001&quot;,&quot;assetType&quot;:&quot;details&quot;,&quot;title&quot;:&quot;Sony-SAB-HD---LIVE-Channel&quot;})" ui-sref-opts="{inherit: false}" href="/details/details/4867316278001/Sony-SAB-HD---LIVE-Channel">SAB HD LIVE</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.details({&quot;id&quot;:&quot;5492755223001&quot;,&quot;assetType&quot;:&quot;details&quot;,&quot;title&quot;:&quot;Sony-MIX-SD---LIVE-CHANNEL&quot;})" ui-sref-opts="{inherit: false}" href="/details/details/5492755223001/Sony-MIX-SD---LIVE-CHANNEL">MIX HD LIVE</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.details({&quot;id&quot;:&quot;5571681160001&quot;,&quot;assetType&quot;:&quot;details&quot;,&quot;title&quot;:&quot;LIVE-CHANNEL---Sony-BBC-Earth-HD&quot;})" ui-sref-opts="{inherit: false}" href="/details/details/5571681160001/LIVE-CHANNEL---Sony-BBC-Earth-HD">Sony BBC Earth HD LIVE</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems -->
						</ul>

						<!-- ngIf: (section.seeAll.title.length > 0) && (section.seeAll.isVisible) -->
					</div><!-- end ngRepeat: section in footer.dynamicSection --><div class="footer-sections resp-w tol-7 col-xs-12" ng-repeat="section in footer.dynamicSection">
						<!-- ngIf: section.showTitle --><b style="text-transform: capitalize;" ng-if="section.showTitle" class="ng-binding ng-scope">Premium</b><!-- end ngIf: section.showTitle -->

						<ul>
							<!-- ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.listing({&quot;id&quot;:&quot;live_channels&quot;})" ui-sref-opts="{inherit: false}" href="/listing/live_channels">LIVE TV</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.listing({&quot;id&quot;:&quot;movie_allmovies_band&quot;})" ui-sref-opts="{inherit: false}" href="/listing/movie_allmovies_band">Premium Movies</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems --><li ng-repeat="item in section.lineItems" class="ng-scope">
                                <!-- ngIf: item.linkType=='internal' --><!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" class="ng-binding ng-scope" ui-sref="asset.listing({&quot;id&quot;:&quot;rent_a_flick&quot;})" ui-sref-opts="{inherit: false}" href="/listing/rent_a_flick">Movies on Rent</a><!-- end ngIf: item.linkType=='internal' --><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
                            </li><!-- end ngRepeat: item in section.lineItems -->
						</ul>

						<!-- ngIf: (section.seeAll.title.length > 0) && (section.seeAll.isVisible) -->
					</div><!-- end ngRepeat: section in footer.dynamicSection -->

					<div class="footer-links-fixed resp-w col-xs-12">
						<ul>
							<!-- ngRepeat: item in footer.staticSection.lineItems --><li ng-repeat="item in footer.staticSection.lineItems" class="ng-scope">
								<!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" href="/static/faq" translate="" class="ng-scope ng-binding">FAQs</a><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
							</li><!-- end ngRepeat: item in footer.staticSection.lineItems --><li ng-repeat="item in footer.staticSection.lineItems" class="ng-scope">
								<!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" href="/static/terms_of_use" translate="" class="ng-scope ng-binding">Terms Of Use</a><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
							</li><!-- end ngRepeat: item in footer.staticSection.lineItems --><li ng-repeat="item in footer.staticSection.lineItems" class="ng-scope">
								<!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" href="/static/privacy_policy" translate="" class="ng-scope ng-binding">Privacy Policy</a><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
							</li><!-- end ngRepeat: item in footer.staticSection.lineItems --><li ng-repeat="item in footer.staticSection.lineItems" class="ng-scope">
								<!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" href="https://www.sonypicturesnetworks.com/channel-prices" translate="" class="ng-scope ng-binding">TV Channel Prices</a><!-- end ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' -->
							</li><!-- end ngRepeat: item in footer.staticSection.lineItems --><li ng-repeat="item in footer.staticSection.lineItems" class="ng-scope">
								<!-- ngIf: item.linkType=='internal' -->
								<!-- ngIf: item.linkType=='external' --><a ng-if="item.linkType=='external'" ng-click="footerElementClick('link', item)" target="_blank" href="https://www.sonyliv.com/ContentFeedback/content-feedback.html" translate="" class="ng-scope ng-binding">Content Feedback</a><!-- end ngIf: item.linkType=='external' -->
							</li><!-- end ngRepeat: item in footer.staticSection.lineItems -->
						</ul>
					</div>

					<div class="footer-post resp-w col-xs-12">

					   <div class="footer-post-wrapper container-fluid">
						   <div class="footer-social">
								<!-- ngRepeat: icon in footer.staticSection.icons --><div ng-repeat="icon in footer.staticSection.icons" class="ng-scope">
                                    <a target="_blank" title="SonyLIV Facebook" ng-click="footerElementClick('social_icon', icon)" href="https://www.facebook.com/SonyLiv/" translate="" class="ng-scope">
										<i class="footer-icon facebook"></i>
									</a>
                                </div><!-- end ngRepeat: icon in footer.staticSection.icons --><div ng-repeat="icon in footer.staticSection.icons" class="ng-scope">
                                    <a target="_blank" title="SonyLIV Twitter" ng-click="footerElementClick('social_icon', icon)" href="https://twitter.com/SonyLIV" translate="" class="ng-scope">
										<i class="footer-icon twitter"></i>
									</a>
                                </div><!-- end ngRepeat: icon in footer.staticSection.icons -->
						   </div>

						   <div class="footer-version">V.1.7.4</div>

						   <div class="footer-links-fixed-alt">
								<ul>
									<!-- ngRepeat: item in footer.staticSection.lineItems --><li ng-repeat="item in footer.staticSection.lineItems" class="ng-scope">
										<!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" href="/static/faq" translate="" class="ng-scope ng-binding">FAQs</a><!-- end ngIf: item.linkType=='internal' -->
										<!-- ngIf: item.linkType=='external' -->
									</li><!-- end ngRepeat: item in footer.staticSection.lineItems --><li ng-repeat="item in footer.staticSection.lineItems" class="ng-scope">
										<!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" href="/static/terms_of_use" translate="" class="ng-scope ng-binding">Terms Of Use</a><!-- end ngIf: item.linkType=='internal' -->
										<!-- ngIf: item.linkType=='external' -->
									</li><!-- end ngRepeat: item in footer.staticSection.lineItems --><li ng-repeat="item in footer.staticSection.lineItems" class="ng-scope">
										<!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" href="/static/privacy_policy" translate="" class="ng-scope ng-binding">Privacy Policy</a><!-- end ngIf: item.linkType=='internal' -->
										<!-- ngIf: item.linkType=='external' -->
									</li><!-- end ngRepeat: item in footer.staticSection.lineItems --><li ng-repeat="item in footer.staticSection.lineItems" class="ng-scope">
										<!-- ngIf: item.linkType=='internal' --><a ng-if="item.linkType=='internal'" ng-click="footerElementClick('link', item)" href="https://www.sonypicturesnetworks.com/channel-prices" translate="" class="ng-scope ng-binding">TV Channel Prices</a><!-- end ngIf: item.linkType=='internal' -->
										<!-- ngIf: item.linkType=='external' -->
									</li><!-- end ngRepeat: item in footer.staticSection.lineItems --><li ng-repeat="item in footer.staticSection.lineItems" class="ng-scope">
										<!-- ngIf: item.linkType=='internal' -->
										<!-- ngIf: item.linkType=='external' --><a ng-if="item.linkType=='external'" ng-click="footerElementClick('link', item)" target="_blank" href="https://www.sonyliv.com/ContentFeedback/content-feedback.html" translate="" class="ng-scope ng-binding">Content Feedback</a><!-- end ngIf: item.linkType=='external' -->
									</li><!-- end ngRepeat: item in footer.staticSection.lineItems -->
								</ul>
						   </div>
					   </div>

					</div>

					<div class="footer-post resp-w col-xs-12 app-icons-tablet">
						<div class="footer-post-wrapper container-fluid">
							<!-- ngRepeat: icon in footer.appIcons track by $index --><a target="_blank" title="SonyLiv App Store" ng-click="footerElementClick('app_icon', icon)" href="https://itunes.apple.com/in/app/sonyliv-live-cricket-tv-movies/id587794258?mt=8" translate="" ng-repeat="icon in footer.appIcons track by $index" class="ng-scope">
								<!-- ngIf: icon.class === 'appstore' --><img src="/images_static/footer_icons/apple-store.png" alt="Apple Store" ng-if="icon.class === 'appstore'" class="ng-scope"><!-- end ngIf: icon.class === 'appstore' -->
								<!-- ngIf: icon.class === 'playstore' -->
							</a><!-- end ngRepeat: icon in footer.appIcons track by $index --><a target="_blank" title="SonyLIV Play Store" ng-click="footerElementClick('app_icon', icon)" href="https://play.google.com/store/apps/details?id=com.sonyliv" translate="" ng-repeat="icon in footer.appIcons track by $index" class="ng-scope">
								<!-- ngIf: icon.class === 'appstore' -->
								<!-- ngIf: icon.class === 'playstore' --><img src="/images_static/footer_icons/google-play-badge.png" alt="Google Play Store" ng-if="icon.class === 'playstore'" class="ng-scope"><!-- end ngIf: icon.class === 'playstore' -->
							</a><!-- end ngRepeat: icon in footer.appIcons track by $index -->
						</div>
					</div>
					<div class="footer-post app-icon-mobile col-xs-12">
						<!-- ngRepeat: icon in footer.appIcons track by $index --><div class="col-xs-6 app-icons-mobile ng-scope" ng-repeat="icon in footer.appIcons track by $index">
							<a target="_blank" title="SonyLiv App Store" ng-click="footerElementClick('app_icon', icon)" href="https://itunes.apple.com/in/app/sonyliv-live-cricket-tv-movies/id587794258?mt=8" translate="" class="ng-scope">
								<!-- ngIf: icon.class === 'appstore' --><img src="/images_static/footer_icons/apple-store.png" alt="Apple Store" ng-if="icon.class === 'appstore'" class="ng-scope"><!-- end ngIf: icon.class === 'appstore' -->
								<!-- ngIf: icon.class === 'playstore' -->
							</a>
						</div><!-- end ngRepeat: icon in footer.appIcons track by $index --><div class="col-xs-6 app-icons-mobile ng-scope" ng-repeat="icon in footer.appIcons track by $index">
							<a target="_blank" title="SonyLIV Play Store" ng-click="footerElementClick('app_icon', icon)" href="https://play.google.com/store/apps/details?id=com.sonyliv" translate="" class="ng-scope">
								<!-- ngIf: icon.class === 'appstore' -->
								<!-- ngIf: icon.class === 'playstore' --><img src="/images_static/footer_icons/google-play-badge.png" alt="Google Play Store" ng-if="icon.class === 'playstore'" class="ng-scope"><!-- end ngIf: icon.class === 'playstore' -->
							</a>
						</div><!-- end ngRepeat: icon in footer.appIcons track by $index -->
					</div>
				</div>
			</div><!-- end ngIf: show -->
			<div class="col-xs-12 app-icons-desktop text-center">
				<!-- ngRepeat: icon in footer.appIcons track by $index --><a target="_blank" title="SonyLiv App Store" ng-click="footerElementClick('app_icon', icon)" href="https://itunes.apple.com/in/app/sonyliv-live-cricket-tv-movies/id587794258?mt=8" translate="" ng-repeat="icon in footer.appIcons track by $index" class="ng-scope">
					<!-- ngIf: icon.class === 'appstore' --><img src="/images_static/footer_icons/apple-store.png" alt="Apple Store" ng-if="icon.class === 'appstore'" class="ng-scope"><!-- end ngIf: icon.class === 'appstore' -->
					<!-- ngIf: icon.class === 'playstore' -->
				</a><!-- end ngRepeat: icon in footer.appIcons track by $index --><a target="_blank" title="SonyLIV Play Store" ng-click="footerElementClick('app_icon', icon)" href="https://play.google.com/store/apps/details?id=com.sonyliv" translate="" ng-repeat="icon in footer.appIcons track by $index" class="ng-scope">
					<!-- ngIf: icon.class === 'appstore' -->
					<!-- ngIf: icon.class === 'playstore' --><img src="/images_static/footer_icons/google-play-badge.png" alt="Google Play Store" ng-if="icon.class === 'playstore'" class="ng-scope"><!-- end ngIf: icon.class === 'playstore' -->
				</a><!-- end ngRepeat: icon in footer.appIcons track by $index -->
			</div>
			<div class="col-xs-12 copyright-text ng-binding">
				 © 2019 Sony Pictures Networks India Pvt. Ltd. <span translate="" class="ng-scope"></span>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</footer>